.CodeMirror-highlight { background:red !important }

#editor {
  width:70%;
  height:100%;
  display:inline-block;
}

/* TODO: fix in max and change width to 30% before publishing. */
#console {
  display:inline-block;
  width:29.25%;
  background:#eee;
  float:right;
  height:100%;
  border-left:1px black solid;
  box-sizing:border-box;
  overflow:scroll;
}

body { margin:0; padding:0 }

#console .CodeMirror { background-color:#efefef }
#editor  .CodeMirror { background-color:#efefef }

.annotation { 
  padding:1px;
  box-sizing:border-box !important;
}
.annotation-highlight { background-color: #ffffff }
.annotation-border { 
  border: solid #999 1px;
  padding:0 !important;
  box-sizing:border-box !important;
}
.annotation-right-border  { border-right-color:#000   !important }
.annotation-left-border   { border-left-color:#000    !important }
.annotation-top-border    { border-top-color:#000     !important } 
.annotation-bottom-border { border-bottom-color:#000  !important }
.annotation-no-left-border{ border-left-color:transparent  !important }
.annotation-no-right-border{border-right-color:transparent !important }
.annotation-no-horizontal-border { 
  border-width: 1px 0;
  padding-left:0 !important; 
  padding-right:0 !important;
}
.scoreCurrentIndex { 
  /*border: #700 1px solid */
  /*font-weight:bold !important*/
  background: #ddd
}
.euclid1 {
  background:#000 !important;
  color:#fff !important;
}

.euclid0 {  background:#cfcccc; }


