.microlib_tabs_nav {
    width: 100%;
    height: 26px;
}

.microlib_tabs_nav_item {
    float: left;
    height: 26px;
    padding: 0 10px;
    line-height: 26px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.microlib_tabs_nav_item:hover,
.microlib_tabs_nav_item.microlib_active {
    background: #000;
    color:white;
    cursor: pointer;
}

.microlib_tabs_tab {
    padding: 5px;
    display: none;
}

.microlib_tabs_tab.microlib_active {
    display: block;
}
